*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
:root{
    --main_backGround: rgba(0, 0, 0, 0.799);
    --yellow: rgba(247, 226, 37, 0.932);
}



.header{
    height: 90vh; width: 100%;
    display: flex; flex-direction: column; justify-content: center; align-items: center;
    position: relative;
    background-color: var(--main_backGround);
    
}

.header img{
    height: 90%; width: 100%;
}

.header_content{
    position: absolute;
    top: 130px; left: 80px;
    height: 100%; width: 100%;
    display: flex; justify-content: center; align-items: flex-start; flex-direction: column;
}

.header_content h1{
    font-size: 100px; font-weight: 800;
    color: rgba(0, 0, 0, 0.799);

}

.header_content button{
    font-size: 25px; font-weight: 500;
    margin-top: 20px;
    padding: 15px 30px;
    background:  rgba(0, 0, 0, 0.799); color: white;
    border: none;
    border-radius: 50px;
    position: relative;
}

.header_content button::before{
    content: "";
    position: absolute;
    border-radius: 50px;
    height: 100%; width: 100%;
    top: 0 ;left: 0;
    display: flex; justify-content: center; align-items: center;
    background: transparent;
    transform: scale(1);
    transition: all 0.4s;

}

.header_content button:hover:before{
    transform: scale(1.3);
    opacity: 0;
    background: white;
    

}




.auto_text{
    height: 200px; width: 100%; background:var(--main_backGround) ; color: white;
    font-size: 60px; font-weight: 600; 
    display: flex; justify-content: center; align-items: center;
    padding-bottom: 20px;
    transition: all 0.2s;
}

.cursor{
    line-height: 10px; background: rgba(247, 226, 37, 0.927);
}

.js{
    color: rgba(247, 226, 37, 0.932);
}

.video_container{
    position: fixed;
    height: 110%; width: 100%;
    display: flex; justify-content: space-around; align-items: center;
    background: black;
}

.video{
    height: 70%; width: 70%; 
    margin-left: 100px;
    margin-top: 5rem;
    
    
}
.cross{
    color: white;
    font-size: 20px;
    margin-right: -2rem;
    margin-top: -33rem;
    cursor: pointer;
}

.active.video_container{
    visibility: hidden;
}


.toogle_container{
    height: 100px; width: 100%;
    background: rgb(247, 226, 37); 
    display: flex; justify-content: space-around; align-items: center;
    

}



.toogle{
    height: 3rem; width: 6rem;
    display: flex; justify-content: space-around; align-items: center;
    background: black; 
    border-radius: 50px;
    position: relative;
    

}


.circle{
    height: 35px; width: 35px;
    background: white;
    border-radius: 50px;
    margin-left: -3.3rem;
}


.light_theme{
    background: white;
    color: black;
}

.circle_positionchange{
    margin-left: +3.3rem;
    background: black;
}

.toogle_changes{
    background: white;
    border: 2px solid black;

}

.arrow{
    position: fixed;
    bottom: 5%;
    left: 50%;
    height: 50px; width: 50px; 
    border-radius: 50%;
    border: 2px solid white;
    
    transition: all 0.2s;
    animation: bounce 1s linear infinite;
}

.arrow:before{
    content: "";
    position: absolute;
    height: 40%; width: 40%;
    top: 10px; left: 12px;
    transform: rotate(-45deg);
    
    border-bottom: 3px solid white;
    border-left: 3px solid white;


}

@keyframes bounce {
    0%{
        transform: translateY(0);
    }
    50%{
        transform: translateY(30px);
    }
    100%{
        transform: translateY(0);
    }
}

.fade-in{
    opacity: 1;
    transition: all 0.1s ease-in;
}

.fade-out{
    opacity: 0;
    transition: all 0.1s ease-out;
}

.heading1{
    font-size: 60px; font-weight: 600;
    background: var(--yellow);
    height: 200px; width: 100%;
    padding: 50px 80px;
}


.content1{
    height: 80vh; width: 100%;
    background: var(--yellow);
    position: relative;
    
    
}
.content1 h2{
    font-size: 40px; font-weight: 500; margin-left: 10rem;
    margin-bottom: 40px;
    text-decoration: underline;
}



.copy_content{
    height: 80%; width: 100%;
    display: flex; justify-content: center; align-items: center;

}

.copy_container{
    display: flex; justify-content: space-around; align-items: center; flex-direction: column;
    flex: 50%;
    height: 80%;
    
    
}

.copy_btn{
    padding: 10px 20px;
    background: black;
    color: white;
    border: none;
    font-size: 20px;
    transform: translateY(4rem);
    
    
}

.move_container{
    flex: 50%;
    display: flex; justify-content: space-around; align-items: center; flex-direction: column;
    border-left: 7px solid black;
    height: 80%;
}

.move_btn{
    padding: 10px 20px;
    background: black;
    color: white;
    border: none;
    font-size: 20px;
    transform: translateY(4rem);

}

.added{
    padding: 10px 20px;
    height: 50px; width: 100px;
    background: black;
    color: white;
    border: none;
    font-size: 20px; 
    position: absolute;
    bottom: 20px; right: 46%;
    transition: all 0.3s;

}

.content2{
    height: 80vh; width: 100%;
    background:var(--yellow);
    display: flex; flex-direction: column; justify-content: space-between; align-items: center;

}

.content2_heading{
    flex: 10%;
    font-size: 40px; font-weight: 500; margin-left: -55rem;
    margin-bottom: 3rem;
    margin-top: 7rem;
    text-decoration: underline;

}

.progress_container{
    flex: 70%;
    width: 60%;
    display: flex; justify-content: center; align-items: center;
    text-align: center;
    font-size: 27px;
}

.c{
    height: 40px; width: 40px; 
    border-radius: 50%;
    background: white;
    border: 4px solid black;
    transition: all 0.3s;
}

.b{
    height: 7px; width: 100px; background: black;
    transition: all 0.3s;
}

#one,
 .border_color{
    border: 4px solid crimson;
}

.b_background{
    background: crimson;
}

.buttons_container{
    flex: 20%;
}

.buttons_container button{
    padding: 10px 20px;
    background: black; color: white; margin-left: 2rem;
}